# Git Aliases
alias gs="git status"
alias ga="git add --all"
alias gc="git commit -sS"
alias gp="git pull"
alias gpp="git pull; git push;git push --tags"
alias gl="git log --pretty=full --graph --decorate=full"
alias ssh-copy-id="ssh-copy-id -o PreferredAuthentications=password -o PubkeyAuthentication=no"


# I know I am bad
alias pa="php artisan"


#Web stuff
alias a='atom .'
alias npmWatch='npm run watch'
alias mkImage="sudo dd status=progress bs=8M oflag=direct"

alias df='df -H'
alias du='du -ch'
alias du1='du -ch -d 1'

alias s="sudo"
alias sudo='sudo -H'
alias dirs='dirs -v'
alias ls='ls -la'
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias watch='watch --color'


#Tilix Commands
alias tilixRight='tilix -a session-add-right -x'
alias tilixDown='tilix -a session-add-down -x'

# Vagrant configuration.
# export VAGRANT_DEFAULT_PROVIDER='virtualbox'

# Disable cowsay in Ansible.
export ANSIBLE_NOCOWS=1

# Ansible aliases.
alias an='ansible'
alias ap='ansible-playbook'
alias agi='ansible-galaxy install -r'

# Network
# alias ping='ping -c 5'
alias pp='prettyping --nolegend'
# alias fastping='ping -c 100 -s.2'
alias ports='netstat -tulanp'


#Safty Nets

# do not delete / or prompt if deleting more than 3 files at a time #
alias rm='rm -I --preserve-root'

# confirmation #
alias mv='mv -i'
alias cp='cp -i'
alias ln='ln -i'

# Parenting changing perms on / #
alias chown='chown --preserve-root'
alias chmod='chmod --preserve-root'
alias chgrp='chgrp --preserve-root'

if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    #alias dir='dir --color=auto'
    #alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# if user is not root, pass all commands via sudo #
if [ $UID -ne 0 ]; then
    alias reboot='sudo reboot'
    alias update='sudo dnf update -y'
    alias distro-sync='sudo dnf clean all && sudo dnf update -y'
fi

# New commands

alias path='echo -e ${PATH//:/\\n}'
alias now='date +"%T"'
alias nowtime=now
alias nowdate='date +"%Y-%m-%d"'
alias nocomment='grep -Ev '\''^(#|$)'\'''
alias fixFonts="fc-cache -f -v"
alias fixSSHkey="ssh-copy-id -i ~/.ssh/ansible.pub"



# progress bar on file copy. Useful evenlocal.
alias cpProgress="rsync -aHAXxvu --numeric-ids --progress"

# I find it useful when emailing blurbs to people and want to illustrate long timeout in one pass.
alias ping="time ping"
alias pbcopy='xclip -selection clipboard'
alias pbpaste='xclip -selection clipboard -o'
alias strongPass='head -c $(shuf -i 32-40 -n 1) /dev/urandom | base64 | xclip -selection clipboard'

# Lets make sure we are building fast
alias make="make -j8"

# Pipe my public key to my clipboard.
alias pubkey="more ~/.ssh/remote.pub | xclip -selection clipboard | echo '=> Public key copied to pasteboard.'"

alias ansiblepubkey="more ~/.ssh/ansible.pub | xclip -selection clipboard | echo '=> Ansible Public key copied to pasteboard.'"

# Pipe my private key to my clipboard.
alias prikey="more ~/.ssh/remote | xclip -selection clipboard | echo '=> Private key copied to pasteboard.'"

