[submodule "Tilix-Themes"]
	path = Tilix-Themes
	url = https://github.com/storm119/Tilix-Themes.git
[submodule "pass/.password-store"]
	path = pass/.password-store
	url = git@github.com:Findarato/pass.git
[submodule "kitty/.config/kitty/base16-kitty"]
	path = kitty/.config/kitty/base16-kitty
	url = https://github.com/kdrag0n/base16-kitty.git
[submodule "nano/.config/nano/nanorc"]
	path = nano/.config/nano/nanorc
	url = https://github.com/scopatz/nanorc.git
[submodule "tmux/.tmux/plugins/tmux-base16-statusline"]
	path = tmux/.tmux/plugins/tmux-base16-statusline
	url = https://git::@github.com/jatap/tmux-base16-statusline
[submodule "tmux/.tmux/plugins/tmux-continuum"]
	path = tmux/.tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule "tmux/.tmux/plugins/tmux-resurrect"]
	path = tmux/.tmux/plugins/tmux-resurrect
	url = https://git::@github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/.tmux/plugins/tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "i3/.config/i3blocks/scripts"]
	path = i3/.config/i3blocks/scripts
	url = https://github.com/vivien/i3blocks-contrib.git
