[user]
    name = Joseph Harry
    email = findarato@gmail.com
    excludesFile = ~/.gitignore
    editor = nano
    signingkey = 672E70D2EB06270B
[fetch]
    prune = true
[status]
    submoduleSummary = true
[core]
    editor = nano
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[web]
    browser = google-chrome
[commit]
    template = ~/.gitmessage
    gpgsign = true
[gpg]
    program = /usr/bin/gpg
