[user]
	name = Joseph Harry
	email = findarato@gmail.com
	excludesFile = ~/.gitignore
	editor = nano
	signingkey = 87CBAA79D6C5CB1E
[github]
    user = Findarato /* GitHub User Name */
[fetch]
	prune = true
[status]
	submoduleSummary = true
[core]
    editor = nano
[diff]

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    editor = nano
[web]
    browser = google-chrome
[gitflow "prefix"]
    feature = feature-
    release = release-
    hotfix = hotfix-
    support = support-
    versiontag = v
[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    ui = true
[commit]
    template = ~/.gitmessage
	gpgsign = true
[gpg]
    program = gpg2
