[user]
name = Joseph Harry
email = findarato@gmail.com
excludesFile = ~/.gitignore
editor = nano
signingkey = 87CBAA79D6C5CB1E
[fetch]
prune = true
[status]
submoduleSummary = true
[core]
editor = nano
[diff]
external = git-meld
[color]
branch = auto
diff = auto
interactive = auto
status = auto
[web]
browser = google-chrome
[commit]
template = ~/.gitmessage
