[Unit]
Description=A lightweight Wayland notification daemon
Documentation=man:mako(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/home/jharry/.local/bin/mako --progress-color=#7E25DD50 --markup 1 --actions 1 --icons 1 --border-radius 3 --background-color=#7E25DD50 --font=Hack

[Install]
WantedBy=sway-session.target
