[Unit]
Description=Connect to BMR1
After=bluetooth.target

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 30
ExecStart=bluetoothctl connect 89:76:B5:05:CC:81



[Install]
WantedBy=default.target