[Unit]
Description=mnt-joetop
After=network.target

[Mount]
What=joetop:/home/jharry
Where=/mnt/joetop
Type=fuse.sshfs
Options=compression=no,cache=yes,kernel_cache,cache_timeout=86400,auto_cache,reconnect
TimeoutSec=20

[Install]
WantedBy=multi-user.target
