[Unit]
Description=mnt-worktop-interplex
Wants=network-online.target
After=network.target network-online.target

[Mount]
What=jharry@worktop.telaranrhiod.space:/var/www/interplex.methnet.org
Where=/mnt/worktop/interplex
Type=fuse.sshfs
Options=allow_other,reconnect,default_permissions,IdentityFile=/home/joe/.ssh/id_ed25519
TimeoutSec=20

[Install]
WantedBy=multi-user.target