[Unit]
Description=Run Restic backup

[Timer]
OnBootSec=15min
#OnCalendar=00/1:00
OnUnitActiveSec=1h
Unit=restic.service

[Install]
WantedBy=timers.target