[Unit]
Description=Run Restic backup

[Timer]
OnBootSec=120s
OnCalendar=00/1:00
Unit=restic-work.service
Persistent=true

[Install]
WantedBy=timers.target