[Unit]
Description=Full Backup on start up
DefaultDependencies=no
After=final.target

[Service]
Type=oneshot
ExecStart=/home/joe/bin/Backup.sh desktop

[Install]
WantedBy=final.target

