[Unit]
Description=Backup Laptop with Restic

[Service]
Type=oneshot
ExecStart=%h/bin/backup_hourly.sh laptop

# Hardening
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target